<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="name" content="">
  <title>Sistema Captura</title>

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body id="page-top">


  <!-- Page Wrapper -->
  <div id="wrapper">

    {{> navbar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {{> head}}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="row">

            <div class="col-md-10">
              <h1 class="h4 mb-4 text-gray-800 text-center">REGISTRO DE ALUMNO</h1>
            </div>

            <div class="col-md-1">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-toggle="modal"
                data-target="#ModalRegEstudiante">
                REGISTRAR
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE DEL ALUMNO</th>
                    <th scope="col">GRUPO</th>
                     <th scope="col">ACCIÓN</th>
                  </tr>
                </thead>
                <tbody id="tableStudents">

                </tbody>
              </table>
            </div>
            <div class="col-md-1"></div>

          </div>

          <!-- Modal -->
          <div class="modal fade" id="ModalRegEstudiante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel"><strong class="text-center">REGISTRAR ALUMNO</strong></h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="inputnomStudents">NOMBRE</label>
                      <input type="text" class="form-control" id="inputnomStudents" name="inputnomStudents" placeholder="NOMBRE ...">
                    </div>
                    <div class="form-group">
                      <label for="inputmatStudents">APELLIDO MATERNO</label>
                      <input type="text" class="form-control" id="inputmatStudents" name="inputmatStudents" placeholder="APELLIDO MATERNO ...">
                    </div>
                    <div class="form-group">
                      <label for="inputpatStudents">APELLIDO PATERNO</label>
                      <input type="text" class="form-control" id="inputpatStudents" name="inputpatStudents" placeholder="APELLIDO PATERNO ...">
                    </div>
                    <div class="form-group">
                      <label for="inputgrupStudents">GRADO Y GRUPO</label>
                      <select id="inputgrupStudents" name="inputgrupStudents" class="form-control">
                        <option selected value="selected">ELIGE UNA OPCIÓN</option>
                        <option value="1A">1A</option>
                        <option value="1B">1B</option>
                        <option value="1C">1C</option>
                        <option value="2A">2A</option>
                        <option value="2B">2B</option>
                        <option value="2C">2C</option>
                        <option value="3A">3A</option>
                        <option value="3B">3B</option>
                        <option value="3C">3C</option>                        
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="inputState">FOTO DEL ALUMNO</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="FileStudents" name="FileStudents">
                        <label class="custom-file-label" for="FileStudents">ELIJE UNA FOTO DEL ESTUDIANTE</label>
                      </div>
                    </div>
                    <hr>
                    <input type="button" id="btnRegStudents" class="btn btn-primary btn-user btn-block" value="GUARDAR">
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Modal -->


          <!-- Footer -->
          {{> footer}}
          <!-- End of Footer -->

        </div>
        <!-- End of Page Wrapper -->


</body>

</html>